<!DOCTYPE html>
<html lang="en">
<head>
     <title>Oauth2</title>
     <script src="https://accounts.google.com/gsi/client" async defer></script>

</head>
<body>
     <div id="g_id_onload"
          data-client_id="271296630832-tfh9kmrouvjo8i42g2i65t1g5gv13cs4.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-login_uri="/rest/v1/calendar/redirect/"
          data-auto_prompt="false">
     </div>

     <div class="g_id_signin"
          data-type="standard"
          data-shape="rectangular"
          data-theme="outline"
          data-text="signin_with"
          data-size="large"
          data-logo_alignment="left">
     </div>

</body>
</html>

